*{
    margin: 0;
    padding: 0;
}
:root{
    --Helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --openSans: 'Open Sans Light', sans-serif;
    --greyColor: #bdc3c7;
    --lightGray: #ecf0f1;
    --greyColor2: #989c9e;
    --offWhite: #f1f1f1;
    --outerSpace: #363838
    --blue: #428bca;
    --policeBlue: #34495e;
    --darkCharcoal: #333;
    --white: #fff;
    --aquaMarine: #76caf5;
}
body{
    
    background-color: var(--lightGray);
 
}
a{
    text-decoration: none;
    color: var(--greyColor2);
    font-size: 16px;
    font-family: var(--openSans);

    
}

h1{
    color: var(--darkCharcoal);
    font-size: 1.85rem;
    font-family: var(--Helvetica);;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 500;
}

h2{
    font-family: var(--Helvetica);
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}
h3{
    color: var(--outerSpace);
    font-size: 1.25rem;
    font-family: var(--Helvetica);
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 500;
}

p{
    color: var(--greyColor2);
    font-size: 1rem;
    font-family: var(--openSans);
    line-height: 25px;  

}
.bold{
    font-weight: bold;
}

ul, li{
    list-style-type: none;
}
.header{
    background-color: #34495e;
    padding: 0 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.search{
    width: 190px;
}

.logo{
    height: 40px;
}
.login{
    justify-self: flex-end;
    font-family: var(--Helvetica);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white);
    cursor: pointer;
}
.navDropdown{
    display: none;  
}
.navMenu{
    position: relative;
}

.navMenu:hover .navDropdown{
    display: block;
    margin-top: 2px;
    margin-left: -20px;
    z-index: 1;
    position: absolute;
    top: 35px;
    background-color: var(--white);
    box-shadow: 2px 2px 10px var(--policeBlue);
    border-radius: 5px;
    padding: 10px 10px;
    
    
}
.navItem{
    
    padding: 10px 20px 0;
    width: 90px;
   
}
.navItemText{
    font-family: "Yrsa", Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0 10px;
}
.fa-smile{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.fa-caret-down, .fa-search {
    color: white;
    font-size: 16px;
    
}

.fa-caret-down{
 margin-top: -5px;
}

.miniHeader{
    height: 60px;
    background-color: #fff;
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniHeaderDiv > input{
    background-color: #ecf0f1;
    color: #363838;
    font-size: 14px;
    padding: 8px 19px;
    height: 20px;
    border: 0 solid;
    border-radius: 3px;
    outline: none;
}
.miniHeaderDiv > span{
    background-color: #34495e;
    border: 0 solid;
    border-radius: 3px;
    padding: 8px 19px;
    height: 20px;
}
.postStory{
 background: white;
 width:60%;
 margin: 70px auto;
 border-radius:3px ;
 padding: 10px 20px 20px;
 box-sizing: border-box;
 
}
/* @media only screen and (max-width: 768px) {
    .postStory{
        width: 300px;
    }   
}
@media only screen and (max-width: 450px) {
    .postStory{
        width: 80%;
    }
} */

.form{
    width: 70%;
    background-color: #fff;
    margin: 50Px 0;
    
}

.name{
    border: 0;
    color: var(--greyColor2);
    background-color: var(--offWhite);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 14px 0;
    padding: 14px;
    font-size: 14px;

}

.formStyle:focus{
    
}

.space{
    margin:  15px 0 ;
}
.securityCode2{
    color: #989c9e;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    padding: 14px;
    font-size: 14px;
    border: 1px solid #989c9e;
    width: 48%;

}
.loginInput{
    color: #989c9e;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #989c9e;
    width: 100%;
    margin: 10px 0;
}


input::placeholder, textarea::placeholder, select > option, selectStyle{
    color: var(--greyColor2);
    font-family: var(--openSans);
    font-size: 1rem;
}


.story{
    resize: none;
    height: 200px;
    width: 100%;
    border: 0;
    color: #989c9e;
    background-color: #f1f1f1;
    box-sizing: border-box;
    outline: none;
    margin: 14px 0;
    padding: 14px;
    font-size: 14px;
}
.postMessage{
    height: 150px;
}
select{
    color: var(--greyColor2);
    width: 48%;
    margin: 12px 0;
    padding: 12px; 
    border: 1px solid var(--greyColor2);  
    outline: none;
    font-size: 14px;
}
select:focus{
    border: 1px solid #76caf5;
}

.categories{
    
    
}
.flexContainer{
    display: flex;
    justify-content: space-between;
}

.flexitem{
    width:48%;
}
@media only screen and (max-width: 768px) {
    .flexContainer{
        flex-wrap: wrap;
    }
    .flexitem{
        width:100%;
        margin-bottom: 20px;
    }
} 
.securityCode{
    color: #989c9e;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    padding: 14px;
    font-size: 14px;
    border: 1px solid var(--greyColor2);
    width: 100%;

}
.registerStyle{
    font-size: 20px;
    font-family: var(--Helvetica);
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 14px;
}

.loginStyle{
    font-size: 15px;
    font-family: var(--Helvetica);
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 14px;
}
.register{
    color: var(--white);
    background-color: var(--aquaMarine);
}
.registerFacebook{
    color: var(--white);
    background-color: var(--policeBlue);
}
.textDiv{
    text-align: center;
}
.submit {
 font-family: var(--Helvetica);
}
.buttonFlex{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 10px;
    
}
.buttonFlex2 {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 20px;
}
.fa-times{
    font-size: 20px;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .buttonFlex{
        justify-content: center;
    }
    .postTitle{
        display: flex;
        justify-content: center;
    }

} 

.submit{
    cursor: pointer;
    background-color: var(--aquaMarine);
    border-radius: 2px;
    padding: 10px 15px;
    color: var(--white);
    font-size: 1.25rem;
    border: none;
    position: relative;
    right: 0;
}

.recaptcha{
    background-color: #fff;
    font-family: var(--Helvetica);
    padding: 18px 14px;
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    color: var(--aquaMarine);
    border: 1px solid #989c9e;
    font: 1.25rem;

}

.postItem{
    
width: 60%;
background-color: #fff;
padding: 10px 20px;
margin: 20px auto;
box-sizing: border-box;
}

.postFlexItem{
    position: relative;
    display: flex;
}


.postImage{
    height: 120px;
    padding: 10px 20px ;
}

.postContent{
    padding-top: 10px;
    position: relative;
    padding-right: 50px;
}

.postContent > h1:hover{
    color: #989c9e;
    
}

.postContent > p{
    text-align: justify;
}

.socialMedia{
    position: absolute;
    right: -0px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fa-facebook-square , .fa-twitter-square , .fa-star{
    color: #34495e;
    font-size: 1.5rem;
    padding: 10px 0;
}
.flexContainer > p{
    font-size: 16px;
    color: var(--outerSpace);
}

footer{
    background-color: var(--policeBlue);
    display: flex;
    justify-content:space-evenly ;
    color:var(--white);
    padding: 40px 15%;
    margin-top : 60px ;
    flex-wrap: wrap;
    align-content:center ;
}
footer > div {
    
    margin: 10px;
    
}



.footerText{
    color:var(--white);
    font-size: 1.1rem;
    font-family:var(--Helvetica);
}
.fa-bars{
    font-size: 30px;
    color: white;
}
.fixedHeight{
    height: 100vh;
    osition: relative;
}
.policyFooter{
    /* position: absolute;
    bottom: 0;
    width: 70%; */
}
.fa-user, .fa-envelope-open-text, .fa-info{
    position: absolute;
}


.fa-comment-alt{
    color: var(--policeBlue);
    font-size: 40px;
    margin-top: 5px;
    position: relative;
}
.vex{
    cursor: pointer;
    background-color: var(--policeBlue);
    padding: 7px 9px 8px;
    color: var(--white); 
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
    box-sizing: border-box;
    font-family: var(--openSans);
    font-size: 1.0rem;
    border: 1px solid var(--policeBlue);
    
}
.number1{
    color: var(--policeBlue);
    font-weight: bold;
    position: absolute;
    left:10px;
    
}
.number2{
    font-size: 1.0rem;
    font-family: var(--openSans);
    color: var(--policeBlue);
    background-color: var(--white);
    border: 1px solid var(--policeBlue);
    padding: 7px 9px 8px;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
}
@media only screen and (max-width: 450px) {
    .commentLike{
        flex-wrap: wrap;
    }
    .vexDiv2{
        margin: 10px 0 10px 30px; 
    }
    
}
.commentStyle{
    display: flex;
    flex-direction: column;
    align-content:center ;
    margin-top: 15px
}
.comment{
    cursor: pointer;
    background-color: var(--policeBlue);
    padding: 8px 9px;
    color: var(--white);
    font-size: 1.0rem;
    border: none;
    font-family:var(--openSans);
    border-radius: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    
}
.commentDown{
    color: var(--policeBlue);
    font-size: 1.5rem;
    align-self: center;
    margin-top: -11px;
    margin-right: 5px;
}

.vexDiv{
    margin: 10px;
}

.commentLike{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.posterDetails{
    text-align: center;
    color: var(--greyColor2);
}
.iconDiv{
    height: 30px;
    width: 20%;
    border: 1px solid #f1f1f1;
    background-color: black;
}
.postBy{
    color: var(--greyColor2);
    font-size: 15px;
    font-family: var(--openSans);
}

.fa-user, .fa-envelope-open-text, .fa-info{
    font-size: 25px;
    padding: 9px 10px;
    color: #76caf5;
    background-color: var(--offWhite);
    top: 0;
    left: 0;

}

.fa-envelope-open-text, .fa-info {
    font-size: 25px;
    padding: 9px 8px;
    color: var(--aquaMarine);
    background-color: var(--offWhite);

}
.fa-info {
    font-size: 25px;
    position: absolute;
    padding: 9px 16px;
    color: #76caf5;
    background-color: var(--offWhite);

}

@media screen and (min-width: 601px) {
    .hamburger{
        display: none;
        position: fixed;
 }
}
 @media screen and (max-width: 601px) {
 .navDropdown{
    display: none;  
    visibility: hidden;
    opacity: 0;
 }
.hide{
    display: none;

}
 
}
.mobileNavMenu{
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    width:100%;
    background-color: var(--white); 
    visibility: hidden;
    opacity: 0;
    color: var(--policeBlue);
    padding: 10px 0;
}
.colorIcon{
    color: var(--greyColor2);
}
.displayFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuText{
    color: var(--greyColor2);
    padding: 10px 20px;

}
.menuText >a , .displayFlex>p{
    font-size: 0.9rem;
}
.menuText > li{
    color:var(--greyColor2);
    padding: 10px 20px;
    font-size: 0.9rem;
    font-family: var(--openSans);
    line-height: 25px;
}
.navShow{
    visibility: visible;
    opacity: 1;
    /* z-index: 100; */
}
.formDiv{
    border: 1px solid var(--policeBlue);
    position: relative;
    margin: 10px 0;
    padding: 22px 0;
    width: 100%;
}
.formTextArea{
    padding: 0;
}
.modalOpen, .modalClose{
    cursor: pointer;
}
.loginFormContainer{
    position: fixed;
    top: 80px;
    left: 0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.4); 
    visibility: hidden;
    opacity: 0;
}

.loginForm{
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    
}
.modalShow{
    visibility: visible;
    opacity: 1;
}
.menuHide{
    visibility: visible;  
}
@media only screen and (max-width: 660px) {
    .loginForm{
        width: 250px;
    }
    .loginFormContainer{
        top: 0;
    }
    
}
.contactInput{
    position: absolute;
    border: none;
    left: 40px;
    top: 0;
    outline: none;
    height: 16px;
    margin: 16px;
    width: 70%;
    font-size: 16px;
    color: var(--greyColor2);
    font-family: var(--openSans);
   

}
/* .contactInput:focus{
    border: 1px solid #989c9e;
} */
.postItemDiv2{
    text-align: center;
}
.msg{
    border: none;
    resize: none;
    height: 200px;
    width: 95%;
    color: #989c9e;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    margin: 14px 0;
    padding: 14px;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
     .postStory, .postItem {
           width: 70%;
    }
    .fa-facebook-square , .fa-twitter-square , .fa-star{
        font-size: 1.4rem;
  }
}

 @media screen and (max-width: 600px) {
    .postStory, .postItem {
        width: 90%;
 }
 .header{
    padding: 0 5%;
 }
 .desktopMenu{
    display: none;
}
.miniHeader{
    padding-right: 5%;
}
.postFlexItem{
    flex-direction: column;
}
.logo {
    height: 30px;
    margin-top: 10px;
}
 .footer {
     justify-content: flex-start;
}
.footerText{
    font-size: 1.0rem;
}
.postImage {
    width: 80%;
    height: 40%;
    padding: 10px 20px;
  }

.postItemDiv{
    text-align: center;
}
.fa-facebook-square , .fa-twitter-square , .fa-star{
    font-size: 1.4rem;
}

}
 
@media only screen and (max-width: 400px) {
.fa-bars {
    font-size: 25px;
}
.logo {
    height: 20px;
}
}
